body{
    direction: rtl;
    background-image: url(https://img.mako.co.il/2020/12/15/pizza_hand_autoOrient_i.jpg);
    background-size: cover;
    background-position:bottom ;

}
h1{
    text-align: center;
    width: 80%;
    margin:auto;
    
}

form{
    width: 80%;
    background-color: rgba(255, 255, 255, 0.781);
margin: auto;
padding-bottom: 12px;
}

fieldset{
    color: chocolate;
}

.field{
margin-bottom: 12px;
}


legend{
    font-weight: bold;
}

label{
    display: block;
}

input, select{
    padding: 6px;
    border: none;
    border-bottom: 1px solid orange;
}

input:focus,
select:focus{
    outline: 0;
    border-bottom: 2px solid aqua;
}

textarea {
    width: 100%;
    height: 60px;
}

