@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;1,500&display=swap');


body{
    direction: rtl;
    font-family: 'Rubik', sans-serif;
}

h1{
    text-align: center;
}

table{
    width: 80%;
    margin: auto;
    border-collapse: collapse;

}

th ,td{
    border: 1px solid;
    height: 20px;
}


#headtable{
font-family: 'Rubik', sans-serif;
background-color: rgb(61, 5, 114);
color: antiquewhite;
}

.row{
    background-color: rgb(166, 74, 252);
}


#headtable2{
font-family: 'Rubik', sans-serif;;
}

.color{
    background-color: rgb(168, 77, 253);
}


#headtable3{
background-color: deeppink;
text-align: center;
color: white;
}

.bottom{
    background-color: rgb(98, 107, 107);
    color: white;
}

tr{
direction: ltr;
}

.tableframe td{
    border: none;
    color: green;
}

.tableframe th{
    border: none;
    background-color: green;
    color: white;
}

/*  אופציה נוספת
tr:last-child td{
    color: white
}
*/

.bottom td{
    color: white;
}