.myDiv{
    background-color:aqua;
    width: 300px;
    padding: 12px;
    margin: 16px;
}

.myDiv:last-child{
    /* הגדרנו גובה לאלמנט האחרון וכל הטקסט גלש ממנו */
    height: 300px;
    /* הגדרנו שהגודל יכלול בתוכו את הריווח הפנימי והמסגרת */
    box-sizing: border-box;
}

p{
    /* ביטלנו את ריווח ברירת המחדל של הפסקאות */
    margin: 0;
}