@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200;400;500;600&display=swap');

body{
    font-family: 'Heebo', sans-serif;
}

.opening-div{
    background-color:#0EE1E1;
    height: 600px;
}