body{
    background-color: rgb(113, 156, 113);
    direction: rtl;

    h1{
font-size: 33px;
color:pink;
text-align: center;
margin: 12px;
font-size: 35px;
    }

    .all{
    min-width:500px;
    min-height:900px;
    background-color: rgb(120, 192, 168);
    border-radius: 12px;

    h2{
        padding: 15px;
        border:1px dotted grey;
        font-size: 30px;
    }
    }
}


.ex{
    display: flex;

    div{
            display: flex;
    justify-content: center;
    align-items: center;
        width:200px;
        height:150px;
        background-color: burlywood;
        border:1px solid black;
        font-size: 20px;
    
    &:first-child{
        background-color: rgb(71, 71, 216);
    }
    &:nth-child(2){
        background-color: rgb(71, 175, 216);
    }
    &:last-child{
        background-color: rgb(71, 216, 144);
    }

    }
}



.ex2{
    justify-content: center;
}

.ex3{
    justify-content: space-between;
}

.ex4{
    flex-wrap: wrap;
    div{
        width:400px;
    }
}

.ex5{
    background-color: rgb(236, 195, 132);
    height:400px;
    div{
        &:nth-child(2){
            align-self:center;
        }
        &:last-child{
            align-self:end;
        }
        
    }
}